<app-header></app-header>

<label for="name">Sort by breed</label>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="ascendingOrder" checked>
    <label class="form-check-label" for="ascendingOrder">
      A-Z
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="descendingOrder">
    <label class="form-check-label" for="descendingOrder">
      Z-A
    </label>
  </div>

  <label for="name">Breeds</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Poodle
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Multi
    </label>
  </div>



    <label for="name">Minimum age</label>
    <input type="number" class="form-control" id="minimumAge" placeholder="minimumAge">

    
    <label for="name">Maximum age</label>
    <input type="number" class="form-control" id="maximumAge" placeholder="maximumAge">

<app-card></app-card>