
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <app-header [isVisibleSearchBtn]=isVisibleSearchBtn [isVisibleFavoritesBtn]=isVisibleFavoritesBtn [isVisibleLogoutBtn]=isVisibleLogoutBtn></app-header>
  <h1 *ngIf="hasFavorites">Your furry friend! <i class="bi bi-heart"></i></h1>
  <div id="matchResults"> 
   

    
    <ng-container *ngIf="hasFavorites"> 
      <div class="card " style="max-width: 500px;">
        <img class="card-img-top" alt="..." src={{match.img}} >
        <div class="card-body">
          <h5 class="card-title">{{match.name}}</h5>
          <p class="card-text">Breed: {{match.breed}}</p>
          <p class="card-text">Age: {{match.age}}</p>
          
        </div>
      </div>
  

    </ng-container>
    
    <ng-container *ngIf="!hasFavorites"> 
      <h1 id="noFavorites">Add favorites to match with your furry friend</h1>

    </ng-container>

 
  </div>
 

</body>
</html>
