.bi-heart { 
    color: #e91e63;
    outline-color: #e91e63 ;
}
h1{ 
    text-align: center;
    margin-bottom: 50px;
}
#matchResults { 
    display: flex;
    justify-content: center;
    align-items: center;
}

app-card { 
    display: block;
  width: 100px;  /* specify a fixed width */
  height: 100px;
}

body {
    margin-bottom: 50px;
}



#noFavorites {
    font-weight: normal;
    margin-top: 100px;
}