
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <app-header  [isVisibleMatchBtn]=isVisibleMatchBtn [isVisibleLogoutBtn]=isVisibleLogoutBtn></app-header>
  
  <h1>Favorities <i class="bi bi-heart"></i></h1>
    
      <!-- <div id="table" class="p-2 flex-fill bd-highlight"> 
        <app-table></app-table>
      </div> -->

      
        <div  class="row card-group">
          <div class="col-4"  *ngFor="let card of paginatedData">
              <!-- <div class="card"> -->
                <app-card (toggleFavoriteEvent)="toggleFavorite(card.id)"  [id]=card.id name={{card.name}} breed={{card.breed}} [age]=card.age zipCode={{card.zipCode}} img={{card.img}} [isFavorite]=card.isFavorite >
                </app-card>
              <!-- </div> -->
          </div>
        </div>


        <ng-container *ngIf="favorites.length > 0"> 
          <app-pagination [totalItems]="favorites.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>
        </ng-container>


</body>
</html>
