.container { 
    display: flex;
   
    justify-content: space-between;  /* justify-content: center; */
    align-items: center;
    /* position: relative; */
     margin-bottom: 70px;
}
.container img {
    /* position: absolute; */
    width: 45%;
    height: auto;
    margin-left: 25%;
    
}

#button-container { 
    margin-left: auto;
    display: flex;
    margin-left: 80px;
    column-gap: 20px;
}

button { 
width: 109px;

}

/* #favorites-btn { 
    background-color: #e91e63;
    outline-color: #e91e63 ;
} */

/* #match-btn { 
    background-color: #337d36;
    outline-color: #337d36;
} */