 

    <!-- <!DOCTYPE html>
    <html> -->
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    </head>
    <!-- <body> -->
    
        <div class="container"> 
            <img src="/logo.png" id="logo" alt="furry friend logo including a dog with mouth open and tongue sticking out">
            <div id="button-container"> 
                <a routerLink="/favorites" routerLinkActive="active">
                    <button *ngIf="isVisibleFavoritesBtn" type="button" class="btn btn-dark" id="favorites-btn">Favorites</button>
                </a>
                <a routerLink="/match" routerLinkActive="active">
                    <button *ngIf="isVisibleMatchBtn" type="button" class="btn btn-dark" id="match-btn">Match</button>
                </a>
                <a routerLink="/logout" routerLinkActive="active">
                    <button *ngIf="isVisibleLogoutBtn" type="button" class="btn btn-dark">Logout</button> 
                </a>
               
            </div>
        </div>
    
    <!-- </body> -->
    <!-- </html> -->
    



