.container { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img {
    width: 45%;
    height: auto;
    margin-left: 450px;
}

#button-container { 
    display: flex;
    margin-left: 100px;
    column-gap: 30px;
}

button { 
width: 109px;

}

#favorites-btn { 
    background-color: #e91e63;
    outline-color: #e91e63 ;
}

#match-btn { 
    background-color: #337d36;
    outline-color: #337d36;
}