<table class="table">
  <tbody>
    <!-- when finalData in line 5 => favorite heart works however pagination stop working 
    however when this.createMatrix(this.paginatedData(this.data)) in line 5 (where finalData is located) pagination works however heart like and unlike does not work -->
    <!-- <tr *ngFor="let row of this.createMatrix(this.paginatedData(this.data)); let r = index">  -->

      <!-- <tr *ngFor="let row of finalData; let r = index"> -->
      <!-- <td *ngFor="let card of row; let c = index">
        <app-card (toggleFavoriteEvent)="toggleFavorite(card.id, r,c)"  [id]=card.id name={{card.name}} breed={{card.breed}} [age]=card.age zipCode={{card.zipCode}} img={{card.img}}>
        </app-card></td>
    </tr> -->

    <!-- <tr *ngFor="let card of paginatedData; let r = index">
        <td><app-card (toggleFavoriteEvent)="toggleFavorite(card.id)"  [id]=card.id name={{card.name}} breed={{card.breed}} [age]=card.age zipCode={{card.zipCode}} img={{card.img}}>
        </app-card></td>
    </tr>
  </tbody> -->
  
</table>

<div class="row card-group">
  <div class="col-4"  *ngFor="let card of paginatedData">
      <!-- <div class="card"> -->
        <app-card (toggleFavoriteEvent)="toggleFavorite(card.id)"  [id]=card.id name={{card.name}} breed={{card.breed}} [age]=card.age zipCode={{card.zipCode}} img={{card.img}} [isFavorite]=card.isFavorite >
        </app-card>
      <!-- </div> -->
  </div>
</div>

  <app-pagination [totalItems]="data.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>














