<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]=img alt="dog">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <!-- <p class="card-text">{{id}}</p> -->
          <p class="card-text">Breed: {{breed}}</p>
          <p class="card-text">Age: {{age}}</p>
          <p class="card-text">Zipcode: {{zipCode}}</p>
            <button type="submit" class="btn btn-dark">Add favorite</button>
       
        </div>
      </div>
    

</body>
</html>
