.btn {
    /* border: none; Remove borders */
    color:white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 20px; /* Set a font size */
    /* cursor: pointer; Mouse pointer on hover */
  }

img { 
  width: 100%;
  height: auto;
  
  /* width: 286px;
  height: 229px; */
}
