<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]=img alt="dog">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{id}}</p>
          <p class="card-text">Breed: {{breed}}</p>
          <p class="card-text">Age: {{age}}</p>
          <!-- <p class="card-text">Zipcode: {{zipCode}}</p> -->


             <div (click)="toggleFavorite()">
            <i id="heart-empty"  *ngIf="!isFavorite" class='fa fa-heart-o' style='font-size:24px'></i>
            <i id="heart-fill"  *ngIf="isFavorite" class='fa fa-heart' style='font-size:24px;color: red;'></i>
             </div> 

        
    </div> 
    </div>
    

  </body>
  
</html>
